:root {
  --blue: #1875d1;
  --blue-light: #3366cc;
  --blue-dark: #187fe5;
  --grey: #94a3b8;
  --grey-lightest: #f1f5f9;
  --grey-light: #64748b;
  --grey-dark: #1e293b;
  --white: #fff;
  --black: #000;
}

body {
  margin: 0;
  background-color: var(--white);
  color: var(--grey-dark);
}

code {
  white-space: pre;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
  color: var(--black);
}

h1 {
  margin-top: 0px;
  padding-top: 30px;
}

ul {
  list-style-type: square;
}

li::marker {
  color: var(--grey-light);
}

a {
  color: var(--blue-light);
}

input,
textarea {
  color: inherit;
  border: 1px solid var(--grey);
  padding: 5px;
}

input[type='submit'] {
  background-color: var(--blue-dark);
  color: var(--white);
  border: none;
  border-radius: 3px;
  padding: 5px 20px;
  transition: background-color 0.2s ease-in;
}
input[type='submit']:hover {
  background-color: var(--blue);
}

.main {
  padding: 10px 20px;
}

.search {
  width: 100%;
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 20px;
}

.sidebar {
  background-color: var(--grey-lightest);
  height: 100vh;
  padding: 20px 20px 20px 35px;
}

.sidebar h2 {
  margin-top: 5px;
}
